.my_swipe{
    
    width: 100%;
 
   /* border: 1px solid red;*/
    margin-top: 10px;
}
.my_swipe_img{
    position: relative;
    width: 1226px;
    height: 460px;
    margin: 0 auto;
    /*border: 1px solid blue;*/
}
.my_swipe_href{
    position: absolute;
    width: 234px;
    height: 460px;
   
    top:0px;
    background: rgba(0,0,0,0.6);
}
.my_swipe_href>ul>li{
    list-style: none;
    width: 234px;
     height: 42px;
     /*border: 1px solid green;*/
}
.my_swipe_href>ul>li>a{
     display: block;
     padding-left: 30px;
     height: 42px;
     color: #fff;
     padding-left: 30px;
     line-height: 42px;
     width: 200px;
     background: transparent;
}
.my_swipe_href>ul>li>a>span{
    float: right;
    font-weight: bold;
}
.my_li_bg{
    background:  #FF6B00;
}
.my_swipe_href_xq{
    position: absolute;
    height: 460px;
    /*border: 1px solid red;*/
    top: 0;
    left: 235px;
    background: #fff;
    display: flex;
}

.my_swipe_href_xq>div{
   width:1000px;height:458px;
   box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
   z-index: 20;
  
  
}
.my_swipe_href_xq>div>ul{
    width:248px;height:462px;float: left;
    overflow: hidden;
}

.my_swipe_href_xq>div>ul>li{
    list-style: none;
    width: 265px;
    height: 77px;
    line-height: 5;
}
.my_swipe_href_xq>div>ul>li>a{
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    font-size: 14px;
}
.my_swipe_href_img{
    width: 40px;
    height: 40px;
    margin-left: 20px;
    vertical-align: middle;
}
.my_swipe_href_xq>div>ul>li>a:hover{
        color: #ff6700
}








/*start*/
.my_homehero{
    margin-top: 10px;
    overflow: hidden;
    width: 100%;
    height: 170px;
    /*border: 1px solid red;*/
}
.my_homehero_ico{
    width: 1226px;
    height: 170px;
   /* border: 1px solid black;*/
    margin: 0 auto;
}
.my_homehero_list{
    width: 234px;
    height: 170px;
    /*border: 1px solid green;*/
   
    float: left;
}
.my_homehero_list>ul>li{
    width: 76px;
    height: 82px;
    border: 1px solid rgba(138, 135, 135, 0.637);
    float: left;
    list-style: none;
    background: #5f5750;
}

.my_homehero_list>ul>li>a>p{
      text-align: center;
      font-size: 12px;
      color:white;
     
}
.my_homehero_list_img{
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 10px;
}
.my_ul_img_li{
    width: 1240px;
    height: 170px;
    /*border: 1px solid yellow;*/
}

.my_ul_img_li>ul>li>a>img{
   width: 316px;
   height: 170px;
   
}
.my_ul_img_li>ul>li{
    float: left;
    margin-left: 15px;
    list-style: none;
}





/**start*/
.my_remai{
    width: 100%;
    height: 398px;
    /*border: 1px solid red;*/
    margin-top: 20px;
}
.my_remai_title{
   width: 1226px;
   height: 58px;
   margin: 0 auto;
  /* border: 1px solid black;*/
}
.my_remai_product{
    width: 1226px;
    height: 350px;
    margin: 0 auto;
    /*border: 1px solid  red;*/
}
.my_remai_title>h3{
    width: 200px;
    margin: 0;
    float: left;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333
}
.my_remai_title>a{
    display: block;
    width: 40px;
    height: 30px;
    float: right;
    font-size: 22px;
    text-align: center;
    border: 1px solid #e0e0e0;
    margin-top: 15px;
    color: #e0e0e0;
}
/*专场*/
.my_Special{
    float: left;
    width: 234px;
    height: 335px;
    background: #f1eded;
    border-top: 1px solid red;
    text-align: center;
    
}
.my_Special>p{
    font-size: 21px;
    color: #ef3a3b;
    margin-top: 50px;
}
.my_start_time{
    margin-top: 30px;
    font-size: 15px;
    color: rgba(0,0,0,0.54);
}
.time_box{
    float: left;
   
    line-height: 2.5;
    margin-top: 30px;
    width: 46px;
    height: 46px;
    /*border: 1px solid red;*/
    background: #333;
    font-size: 20px;
    color: white;
   
}
.dosh_time{
    width: 15px;
    height: 48px;
    float: left;
    margin-top: 30px;
    line-height: 2.5;
    color: rgba(0,0,0,0.54);
    font-size: 20px;
    font-weight: bold;
}
.my_Special_procduct>div{
    float: left;
    width: 234px;
    height: 335px;
    /*border: 1px solid red;*/
    background: rgba(0,0,0,0.02);
    margin-left: 14px;
    text-align: center;
    font-size: 14px;
}
/*上边框样式*/
.my_chezai{
    border-top: 1px solid #ff6700;
}
.my_zipaigan{
    border-top: 1px solid green;
}
.my_maojin{
    border-top:1px solid  rgb(9, 253, 241)
}
.my_deng{
    border-top: 1px solid #e53935;
}
/*上边框end*/

.my_Special_procduct>div>a>img{
    width: 234px;
    height: 200px;
}
.my_Special_procduct>div>a>p{
    color: #333;
}
.my_Special_procduct>div>a>span{
    font-size: 12px;
    color:#666;
    display: block;
    margin-top: 5px;
}
.kill_price{
    font-size: 14px;
    margin-top: 10px;
}
.kill_price>span{
    color:#ef3a3b; 
}
.kill_price>del{
    color:#666
}
.my_kill{
    width: 64px;
    height: 20px;
    
    margin: 0 auto;
    background-color: #e53935;
    font-size: 12px;
    color: white;
    text-align: center;
}
.my_white{
    width: 64px;
    height: 20px;
    margin: 0 auto;
    background-color: #fff;
}
.my_yellow{
    width: 64px;
    height: 20px;
    margin: 0 auto;
    color: white;
    font-size: 12px;
    background-color: #ffac13;
}
.my_bgmi{
    margin-top: 40px;
    width: 100%;
    height: 120px;
}
.my_bgmi>div{
    width: 1226px;
    height: 120px;
    margin: 0 auto;
}
.my_bgmi>div>a>img{
    width: 1226px;
    height: 120px;;
}
/*手机楼层*/
.phone_floor{
    margin-top: 40px;
    width: 100%;
    height: 690px;
    /*border: 1px solid red;*/
    background: #f5f5f5;
    
    
}
.phone_detail{
   
    width: 1226px;
    height: 672px;
    
    margin: 0 auto;
}
.phone_title{
    width: 1226px;
    height: 58px;
   
  
}
.phone_title>h3{
    width: 200px;
    margin: 0;
    float: left;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333
}
.phone_title>a{
    display: block;
    float:right;
    margin-top: 20px;
    color:black;
}
.phone_title>a>span{
    display: inline-block;
    width: 20px;
    height: 15px;
    text-align: center;
    border-radius: 100%;
    line-height: 16px;
    background: rgb(167, 160, 160);
    color:white;
}
.phone_title>a>span:hover{
    background: #ff6700;
}
.phone_title>a:hover{
    color: #ff6700;
}
.xiaomimx3{
    float: left;
    width: 234px;
    height: 614px;
    
}
.xiaomimx3>a>img{
    width: 234px;
   height: 612px;
}
.phone_Model{
    float: right;
    width: 990px;
    height: 610px;
   /* border: 1px solid black*/
}
.phone_Model>ul>li{
    float: left;
    width: 234px;
    height: 300px;
   
    list-style: none;
    background: white;
    text-align: center;
    margin-left: 13px;
    
}
.phone_Model>ul>li>a>img{
    width: 160px;
    height: 160px;
   
}
.flg_new{
    width: 60px;
    height: 20px;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
    color:white;
    background-color: #83c44e;
}
.phone_Model>ul>li>a>p{
      font-size: 14px;
      color: #333
}
.xiaotitle{
    font-size: 12px;
    color: #666;
}
.my_money{
    margin-top: 20px;
    color: #ff6700;
    font-size: 14px;
}
.my_money>del{
    color: #666;
}

/*家电*/
.appliances{
    width: 100%;
   
    background: #f5f5f5;
}
.appliances_img{
    width: 1226px;
    height: 140px;
    margin: 0 auto;
}
.appliances_img>a>img{
    width: 1226px;
    height: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.appliances_detail{
    width: 1226px;
    height: 672px;
   /* border: 1px solid red;*/
    margin: 0 auto;
    
}
.appliances_title{
    width: 1226px;
    height: 58px;
   /* border: 1px solid red;*/
}
.appliances_title>h3{
    width: 200px;
    margin: 0;
    float: left;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333
}
.appliances_title>div{
    float: right;
   
   
}
.appliances_title>div>ul>li{
    width: 32px;
    height: 26px;
    float: left;
    list-style: none;
    margin-left: 20px;
    margin-top: 20px;
    
}
.appliances_title_font{
    width: 64px !important;
    height: 26px !important;
}
.my_mouse{
    color: #ff6700 ;
    border-bottom: 2px solid #ff6700;
}
.my_mouse_a{
    color: #ff6700 !important;
}
.appliances_title>div>ul>li>a{
    font-size: 16px;
    color: #333;
}
.appliances_detail_img{
    width: 235px;
    height: 614px;
   
    float: left;
}

.appliances_detail_img>div{
    width: 230px;
    height: 300px;
}
.appliances_detail_img>div>a>img{
      width: 234px;
      height: 300px;
}
.my_appliances_product{
     width: 989px;
     height: 614px;
     float: right;
     /*border: 1px solid black;*/
}
.my_appliances_product>ul>li{
    float: left;
    width: 234px;
    height: 300px;
    /*border: 1px solid red;*/
    list-style: none;
    background: white;
    margin-left: 13px;
    text-align: center;
}
.my_appliances_product>ul>li:last-child{
    background:#f5f5f5;
}

.my_appliances_product>ul>li:last-child>div{
    background: white;
}


.my_appliances_product>ul>li:last-child>div:hover{
    box-shadow: 0 6px 20px rgba(0,0,0,.25);
    transform: scale(1.01);
    transition: .2s all linear;
}
.my_appliances_product>ul>li>a>img{
    margin-left: 5%;
    width: 150px;
    height: 150px;
    margin-top: 10px;
}
.my_appliances_product>ul>li>a>p{
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}
.my_appliances_product>ul>li>span{
    color: #666;
    font-size: 8px;
}
.my_appliances_product>ul>li>p{
    margin-top: 10px;
    color: #ff6700;
    font-size: 14px;
}
.my_appliances_product>ul>li>p>del{
    color: #666
}
.my_two_block>div{
   width: 234px;
   height: 143px;
   /*border: 1px solid red;*/
}
.my_two_block>div>a>p{
    padding-top:40px;
    float: left;
    font-size: 14px;
    color: #666;
    margin-left: 20px;
}
.price_money{
    display: block;
    color: #ff6700 !important;
  
    margin-top:5px;
}
.my_two_block_img{
    width: 80px;
    height: 80px;
    margin-top:30px;
}
.my_More{
    float: left;
    font-size: 20px;
    color: #333;
    margin-top: 40px;
    margin-left: 40px;
}
.my_More>p>span{
    font-size: 12px;
    color: #666;
}
/*Recommended为你推荐*/
.Recommended{
    width: 100%;
    height:1800px;
   /* border: 1px solid red;*/
    background: #f5f5f5;
}
.Recommended_title{
    width: 1226px;
    height: 58px;
   /*border: 1px solid red;*/
    margin: 0 auto;
    padding-top: 10px;
   
  
}
.Recommended_title>h3{
    width: 200px;
    margin: 0;
    float: left;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333
}
.Recommended_title>a{
    display: block;
    width: 40px;
    height: 30px;
    float: right;
    font-size: 22px;
    text-align: center;
    border: 1px solid #e0e0e0;
    margin-top: 15px;
    color: #e0e0e0;
}
.Recommended_product{
    width: 1226px;
    height: 280px;
    /*border: 1px solid red;*/
    margin: 0 auto;
   
}
.Recommended_product>div>div{
    width: 234px;
    height: 280px;
    float: left;
    margin-left: 14px;
   /* border: 1px solid red;*/
    text-align: center;
    background: #fff;
}
.my_Recommended_product{
    width: 140px;
    height: 140px;;
   
}
.Recommended_product>div>div>a>p{
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}
.Recommended_product>div>div>a>span{
    font-size: 8px;
    color: #333;
}
/*Hotreview*/
.Hotreview{
    width: 1226px;
    height: 415px;
    /*border: 1px solid red;*/
    margin: 0 auto;
}
.Hotreview>div{
    width: 296px;
    height: 415px;
    float: left;
    margin-left: 14px;
    text-align: center;
    background: #fff;
   
}
.Hotreview_img{
    width: 296px;
    height: 220px;
}
.Hotreview_p{
    width: 240px;
    height: 72px;
    margin: 0 auto;
    margin-top: 30px;
}
.Hotreview_a{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #333;
    text-align: center
}
.comment{
    width: 240px;
    height: 24px;
    margin: 0 auto;
    font-size: 12px;
    text-align: left;
    margin-top: 30px;
    color: #666;
    margin-left: 40px;
}
.comment_price{
    text-align: left;
    margin-left: 40px;
    font-size: 14px;
}
.comment_price>a{
    color: #333;
}
.comment_price>a>span:first-child{
    color: #666
}
.comment_price>a>span:last-child{
    color: #ff6700;
}
.Commoditycontent{
    width: 1226px;
    height: 415px;
   /*border: 1px solid red;*/
    margin: 0 auto;
}
.Commoditycontent>div{
   
    margin-left: 12px;
    text-align: center;
    background: #fff;
    width: 296px;
    height: 415px;
    float: left;
    margin-left: 14px;
    /*border: 1px solid blue;*/
   
}
.book_title,.book_title2,.book_title3,.book_title4{
    margin-top: 50px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #ff6700;
    margin-bottom: 20px;
    width: 100%;
    height: 20px;
}

.book_title2{
    color:#83c44e;
}
.book_title3{
    color: #e53935;
}
.book_title4{
    color: #2196f3;
}
.my_left,.my_right{
    display: block;
    width: 20px;
    height: 48px;
    color: #fff;
    background: rgba(107, 107, 107, 0.336);
    line-height: 3;
    position: absolute;
   z-index: 1;

}
.my_left{
  top: 220px;
}
.my_right{
   top: 220px;
   right: 0;
}
.a_color{
    color: #333
}
.hali_detail{
    margin-top: 10px;
    color: #b0b0b0;
    font-size: 12px;
    margin-bottom: 10px;
}
/**按钮**/
.a_btn_more,.a_btn_more2,.a_btn_more3,.a_btn_more4{
    display: block;
    width: 120px;
    height: 30px;
    margin: 0 auto;
    border: 1px solid #ff6700;
    font-size: 12px;
    line-height:2.5;
    color: #ff6700;
    margin-top: 20px;
}
.a_btn_more2{
    border:1px solid  #83c44e;
    color: #83c44e;
}
.a_btn_more3{
    border: 1px solid #e53935;
    color: #e53935;
}
.a_btn_more4{
    border: 1px solid #2196f3;
    color: #2196f3;
}
.a_btn_more2:hover{
    background: #83c44e;
    color: white;
}
.a_btn_more3:hover{
    background: #e53935;
    color: #fff;
}
.a_btn_more4:hover{
    background: #2196f3;
    color: #fff;
}
.a_btn_more:hover{
    background: #ff6700;
    color: white;
}
.tubook{
    position: relative;
}
.border_top1{
    border-top:1px solid  #ff6700;
}
.border_top2{
    border-top: 1px solid #83c44e;
}
.border_top3{
    border-top: 1px solid #e53935;
}
.border_top4{
     border-top: 1px solid #2196f3;
}
.ul_length{
    position: absolute;
    bottom: 10px;
    width: 296px;
    height: 30px;
    display: flex;
    justify-content: center
}
.ul_length>li:first-child{
    margin-left: 0px !important;
    
}
.ul_length>li{
    width: 8px;
    height: 8px;
    background: rgba(85, 83, 83, 0.452);
    margin-left:40px;
    border-radius: 100%;
    list-style: none;
    border: 2px solid #fff;

}
.ul_length>li:hover{
    background: #ff6700;
}
.li_bg{
    border: 2px solid #ff6700 !important;
    background: #fff !important;
    transition: .5s all linear;
}
.img_width{
    width: 200px;
    height: 142px;
}

/*视频*/
.video_title{
    width: 1226px;
    height: 58px;
    /*border:1px solid red;*/
    margin: 0 auto;
    margin-top: 20px;
}
.video_title>h3{
    width: 200px;
    margin: 0;
    float: left;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333
}
.video_title>a{
    display: block;
    float: right;
    margin-top: 20px;
    color: black;
}
.video_title>a>span{
    display: inline-block;
    width: 20px;
    height: 15px;
    text-align: center;
    border-radius: 100%;
    line-height: 16px;
    background: rgb(167, 160, 160);
    color: white;
}
.video_detail{
    width: 1226px;
    height: 285px;
    margin: 0 auto;
    /*border: 1px solid red;*/
}
.video_detail>ul>li{
    width: 296px;
    height: 285px;
    float: left;
    list-style: none;
    /*border: 1px solid black;*/
    margin-left: 14px;
    background: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}
.video_detail>ul>li>a{
    color: #333;
    position: relative;
}
.video_detail_img{
    width: 296px;
    height: 180px;
}
.xiao_p{
    color: #b0b0b0;
    font-size: 12px;
    margin-top: 10px;
}
.play{
    width: 26px;
    height: 30px;
    border: 2px solid white;
    position: absolute;
    top: -30px;
    left:0;
    margin-left: 10px;
    border-radius: 12px;
    text-align: center;
}
.play:hover{
    background: #ff6700;
    border-color: #ff6700;
    transition: .2s all linear;
}
.play_btn{
    width: 20; height: 20; border-left: 10px solid #fff; border-top: 10px solid transparent; border-bottom: 10px solid transparent;
    margin-left: 10px; margin-top: 5px;

}
/*shipin*/
.video_play{
    width: 100%;
    height: 7850px;
    border: 1px solid red;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 10;
}
.my_video{
    width: 880px;
    height: 596px;
    /*border: 1px solid red;*/
    position: fixed;
    top:100px;
    left:50%;
    margin-left: -440px;

}
.my_video_title{
    width: 880px;
    height: 56px;
    background: #fff;
}
.my_video_title>h3{
    width: 400px;
    margin: 0;
    float: left;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333 ;
    margin-bottom: 0px; 
}
.my_video_title>a{
    display: block;
    width: 30px;
    height:30px;
    font-weight: bold;
    color: #333;
    float: right;
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    margin-right: 10px;
    line-height: 1;
}
.my_video_title>a:hover{
    color: #fff;
     border-radius: 100%;
     background: #e53935;
}
#v3{
    width: 880px;
    height: 536px;
    margin-top: 0;
}
/*暂停按钮*/
#paused{
    background: url('http://127.0.0.1:3000/img/big_play_btn.png');
    width: 90px;
    height: 90px;
    border: 1px solid red;
    position: absolute;
    top: 50%;
    left:50%;
    margin-left: -45px;
    margin-top: -45px;
}
/**抢购样式**/
.xm-flashPurchase-countdown {
    float: left;
    _display: inline;
    width: 234px;
    height: 340px;
    margin: 0 0 0 0;
    padding: 0;
    background-color: #f1eded;
    text-align: center;
}
.xm-flashPurchase-countdown p.time-title {
    font-size: 21px;
    color: #ef3a3b;
    padding-top: 45px;
}
.xm-flashPurchase-countdown img {
    margin: 25px auto;
}
.xm-flashPurchase-countdown .sub {
    color: rgba(0,0,0,0.54);
    font-size: 15px;
}
.xm-flashPurchase-countdown .countdown {
    width: 168px;
    margin: 28px auto 0;
}
.xm-flashPurchase-countdown .countdown span.box {
    width: 46px;
    height: 46px;
    font-size: 24px;
    background-color: #605751;
    color: #fff;
    line-height: 46px;
}
.xm-flashPurchase-countdown .countdown span.dosh {
    width: 15px;
    height: 46px;
    line-height: 46px;
    color: #605751;
    font-size: 28px;
}
/*右侧固定登录**/
.right-bar{
    width: 84px;
    height: 471px;
    position: fixed;
    bottom: 70px;
    top: 50%;
    margin-top: -100px;
    right: 0;
    z-index: 40;
}
.J_rightbar_l{
    width: 84px;
    height: 471px;
    
}
.bar-top{
    padding: 0;
    margin: 0;
    border-top: 1px solid #f5f5f5;
}
.bar-sort{
    position: relative;
    display: block;
    width: 82px;
    height: 90px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    border-top: none;
}
.bar-link{
    display: block;
    height: 100%;
    color: #757575;
    text-decoration: none;
}
.bar-img{
    position: relative;
    width: 30px;
    height: 30px;
    padding-top: 20px;
    margin: 0 0 0 27px
}
.bar-img img{
    width: 30px;
    height: 30px;
    border: none;
}
.bar-text{
    margin: 8px 0 0 0;
    color: #757575;
    font-size: 14px;
    text-align: center;
}
/*二维码*/
.bar-pop {
    position: absolute;
    left: -137px;
    top: 0;
    height: 187px;
    z-index: 80;
    background: #fff;
}
.home-right-bar .bar-pop .bar-pop-content {
    float: left;
    height: 187px;
    background: #fff;
    border: 1px solid #f5f5f5;
}
.bar-pop-qr {
    width: 100px;
    height: 100px;
    margin: 20px 14px;
    background: #fff;
    border: 0;
}
.bar-pop-text {
    width: 83px;
    margin: -10px auto 0;
    color: #757575;
    font-size: 14px;
    text-align: center;
}
/*lunbo**/

.my_chezai:hover,.my_zipaigan:hover,.my_maojin:hover,.my_deng:hover,.phone_Model>ul>li:hover,.my_appliances_product>ul>li:hover,.appliances_detail_img>div:hover,.Hotreview>div:hover,.Recommended_product>div>div:hover,.video_detail>ul>li:hover{
    box-shadow: 0 6px 20px rgba(0,0,0,.25);
    transform: scale(1.01);
    transition: .2s all linear;
}
.my_appliances_product>ul>li>a>img:hover{
    transform: scale(1.1);
}
.topbar-nav>ul>li>a:hover, .topbar-nav_right>ul>li>a:hover{
    color: white;
}
/***/
#container_img-index{
width:1226px;
height:460px;
position:relative;
overflow:hidden;
/*border-radius:10px;*/
margin: 0 auto;
}
.item-index{
position:absolute;
}

#tabs-index{
position:absolute;
right:30px;
bottom:20px;
}
.tab-index{
float:left;
margin-right:10px;
width:4px;
height:4px;
border:3px solid rgba(184,178,182,.8);
border-radius:50%;
background:#989196;
cursor:pointer;
list-style: none;
}
.active-index{
background:#fff;
border-color:#999497;
}
.btn-index{
position:absolute;
top:50%;
margin-top:-35px;
width:40px;
height:70px;
color:#d6d3d5;
font-size:36px;
line-height:70px;
text-align:center;
cursor:pointer;
}
.btn-index:hover{
background:rgba(121, 118, 119, 0.274);
}
.prev-index{
position:absolute;
left:235px;
border-radius:0 5px 5px 0;	
}
.next-index{
position:absolute;
right:0;
border-radius:5px 0 0 5px;
}
.contentbox{width:1000px;margin:auto;margin-top:2em;clear:left;}
.qcontainer{-webkit-perspective:400;-moz-perspective:400;float:left;width:234px;margin-right:20px;}
.film{width:100%;height:300px;-webkit-transform-style:preserve-3d;-webkit-transition:1.5s;-moz-transform-style:preserve-3d;-moz-transition:1.5s;}
.qcontainer:hover .film{-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);}
.face{position:absolute;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;}
.face h3{color:white;text-align:center;}
.back{-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);background:#fff;width:234px;height:300px;}
.foot{font-size: 14px;
color: #333;}
.xuanzhuan_img{
width: 160px !important;
height: 160px !important;
}
.evaluate{
width:234px;height:50px; background:#FF6B00;font-size: 12px; color: #fff;overflow:hidden; white-space:nowrap; text-overflow:ellipsis;padding-top: 5px;display: block;
}
