.Settlement{
    width: 100%;
    background: #f5f5f5;
    border: 1px solid red;
}
.set-hander{
    width: 100%;
    height: 102px;
    border-bottom: 2px solid #ff6700;
}
.set-container{
    width: 1226px;
    height: 74px;
    margin:  0 auto;
    color: #b0b0b0;
    font-size: 12px;
        
}
.set-logo{
    width: 93px;
    margin-top: 26px;
    float: left;
}
.set-title{
    float: left;
    margin-top: 26px;
}
.set-title>h3{
    font-size: 28px;
    line-height: 48px;
    font-weight: normal;
    color: #424242;
}
.set-topbar-info{
    position: relative;
    float: right;
    margin-top: 30px;
    line-height: 40px;
    height: 40px
}
.set-topbar-info>a{
    padding: 0 5px;
    color: #424242;
}
.cart-empty{
    height: 273px;
    width: 1226px;
   
    border: 1px solid red;
    padding: 20px 0;
    margin: 0 auto;
}
.cart-img{
    background: url('http://127.0.0.1:3000/img/cart-empty.png')no-repeat 124px 0;
    color: #b0b0b0;
    overflow: hidden;
    height: 273px;
    padding-left: 558px;
}
.cart-img>h2{
    margin-top: 50px;
    margin-bottom: 0;
    margin: 70px 0 15px;
    font-size: 36px;
    position: relative;
}
.loginDesc{
    margin: 0 0 20px;
    font-size: 20px;
    color: #b0b0b0;
}
.loginGO{
    display:inline-block;
    margin-right: 10px;
    width: 170px;
    height: 48px;
    line-height: 48px;
    background: #ff6700;
    border-color: #ff6700;
    color: #fff;
    text-align: center;
}
.go-shop{
    display: inline-block;
    background-color: #f5f5f5;
    color: #ff6700;
    width: 168px;
    height: 46px;
    line-height: 48px;
    border: 1px solid #ff6700;
    position: absolute;
    text-align: center;
}
.tuijian{
    width: 1226px;
    height: 51px;
    margin: 0 auto;
    margin-top: 60px;
}
.xm-recommend-title{
    position: relative;
    margin: 0;
    height: 50px;
    font-size: 30px;
    font-weight: 400;
    color: #757575;
    border-top: 1px solid #e0e0e0;
}
.xm-recommend-title>span{
    position: absolute;
    top: -20px;
    left: 372px;
    height: 40px;
    width: 482px;
    line-height: 40px;
    text-align: center;
    display: block;
    background-color: #f5f5f5;
}
.tuijian-product{
    width: 1226px;
    margin: 0 auto;
}
.t-product>li{
    width: 234px;
    height: 300px;
    border: 1px solid red;
    list-style: none;
    float: left;
}
/* 有购物**/
.cart-Commodity{
    width: 1226px;
    border: 1px solid red;
    margin: 0 auto;
}
.list-head{
    height: 70px;

    height: 70px;
    line-height: 70px;
    padding-right: 26px;
    color: #424242;
}
.col-check{
    float: left;
    width: 110px;
    height: 70px;
}
.icon-quan{
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #e0e0e0;
    margin-left: 24px;
    background-color: #fff;
    color: #fff;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: -1px;
    cursor: pointer;
}
.icon-quan:hover{
    color: #424242;
}
.col-img{
    width: 120px;
    float: left;
}
.col-name{
    width: 380px;
    float: left;
}
.col-price{
    width: 75px;
    padding-right: 84px;
    text-align: right;
    color: #424242;
    float: left;
}
.col-num{
    width: 150px;
    text-align: center;
    color: #424242;
    float: left;
}
.col-total{
    width: 120px;
    padding-right: 81px;
    text-align: right;
    float: left;
}
.col-action{
    width: 80px;
    text-align: center;
    color: #424242;
    float: right;
}



.body-item{
    padding: 15px 26px 15px 0;
    border-top: 1px solid #e0e0e0;
    background: #fff;
}
.item-table{
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
}
 .i_icon-i{
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #e0e0e0;
    margin-left: 24px;
    background-color: #fff;
    color: #fff;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: -1px;
    cursor: pointer;
    margin-top: 30px;
}
.i_icon-i:hover{
     color: #424242;
}
.item-row{
    border-collapse: collapse;
    border-spacing: 0;
}
.col{
    display: table-cell;
    vertical-align: middle
}
.product-name{
    line-height: 1;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 30px;
}
.col-name>h3>a{
    color: #424242;
}
.change-goods-num{
    width: 148px;
    height: 38px;
    border: 1px solid #e0e0e0;
    text-align: center;
    background-color: #fff;
    position: relative;
    zoom: 1;
}
.change-goods-num>a{
    float: left;
    width: 38px;
    height: 38px;
    line-height: 38px;
    color: #757575;
    font-size: 20px;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.change-goods-num>a:hover{
    background: #e0e0e0;
}
.change-goods-num>input{
    float: left;
    width: 72px;
    height: 38px;
    line-height: 38px;
    padding: 0;
    border-width: 0;
    color: #424242;
    font-size: 16px;
    text-align: center
}
.change-goods-num>input:focus{
     outline: none;
}
.zongjia{
    color: #ff6700;
    font-size: 16px
}

.shanchu{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    float: right;
    margin-right: 30px;
    margin-top: 30px;
}
.shanchu:hover{
    background: red;
    color: #fff;
}
.cart-bar{
    height: 50px;
    text-align: right;
    background-color: #fff;
    /*transition: background .3s ease, top .3s ease;*/
    position: relative;
}
.section-left{
    float: left;
}
.back-shopping{
    line-height: 50px;
    margin-left: 32px;
    color: #757575;
    font-size: 14px;
}
.cart-total{
    margin-left: 16px;
    padding-left: 16px;
    border-left: 1px solid #eee;
    color: #757575;
    font-size: 14px;
}
.numbuter-cart{
     color: #ff6700;
}
.total-price-cart{
    padding-left: 13px;
    color: #ff6700;
}
.total-price-cart>em{
    font-style: normal;
    font-size: 30px
}
.jiesuan-price{
    display: inline-block;
    width: 200px;
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    margin-left: 50px;
    vertical-align: top;
    background: #ff6700;
    border-color: #ff6700;
    color: #fff;
    text-align: center;
}
.jiesuan-price:hover{
    background: #ee6e19;
}